---
layout: archive
title: "Research portfolio"
permalink: /portfolio/
author_profile: true
---

<h2>Research Vision</h2>

<p>Understanding how sleep protects the brain from neurodegeneration requires connecting biological mechanisms across multiple 
scales—from molecular regulation and cellular physiology to neuroimaging and computational analysis.</p>

<p></p>My research aims to identify the mechanisms that regulate the brain's glymphatic system, with a particular focus on the water 
channel Aquaporin-4 (AQP4). By combining quantitative microscopy, animal models, neuroimaging, genetics and 
artificial intelligence, I seek to understand how disturbances in AQP4 regulation contribute to impaired brain clearance and 
ultimately to neurodegenerative disease.</p>

<p></p>Although my current work focuses on the glymphatic system, it builds upon nearly two decades of experience in quantitative 
neuroimaging methodology and PET imaging. The common theme throughout my research has been the development and application of 
quantitative methods to understand brain physiology.</p>

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

