---
layout: archive
title: "Research portfolio"
permalink: /portfolio/
author_profile: true
---


<p>My research aims to understand the mechanisms that regulate brain homeostasis and their role in neurodegeneration. 
  I combine quantitative imaging, molecular neuroscience and computational modelling to investigate the glymphatic system 
  and the regulation of Aquaporin-4 (AQP4). Building on nearly two decades of experience in PET methodology, my current 
  work integrates experimental neuroscience, genetics and computational approaches to identify the principles governing 
  brain clearance.</p>

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

